{% extends 'index.html'%}
{% load staticfiles %}
{% block title %}
    Listado de Beneficiarios
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}


{% block crear_beneficiario%}
<div class="col-md-4">
    <button type="button" class="btn btn-primary" class="col" onclick="abrir_modal_creacion('{% url 'cambios:crear_beneficiario' %}');"> REGISTRAR Beneficiario</button>
</div>

{% endblock crear_beneficiario%}

{% block body %}


        <table  id = "tabla_beneficiario" class="table table-bordered" class="table-stats order-table ov-h">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Tipo Documento</th>
                    <th>Nombre Banco</th>
                    <th>Numero Cuenta</th>
                    <th>Tipo Cuenta</th>
                    <th>Fecha Creación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    <div class="modal fade" id="creacion" role="dialog">

    </div>


    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <div class="modal fade" id="eliminacion" role="dialog">

    </div>


{% endblock body %}

{% block extrajs %}

<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/beneficiario/index.js' %}"></script>
<script src="{% static 'js/main2.js' %}"></script>

{% endblock extrajs %}
