<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>{% block title %} Index {% endblock title %}</title>
        {% block estracss %}
        {% endblock estracss %}
    </head>
    {% block crear_beneficiario %}

    {% endblock crear_beneficiario %}
    <body>
        {% block body %}
        <h1>Este es el index de  mi proyecto</h1>
        {% endblock body %}





        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>
